@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 245, 245, 245;
  --background-contrast: 18, 18, 18;
  --gradient-light: linear-gradient(
    180deg,
    rgba(109, 213, 250, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  --gradient-dark: linear-gradient(
    180deg,
    rgb(26, 25, 29) 60%,
    rgba(0, 0, 0, 0.7) 100%
  );
  --copy: 23, 23, 23;
  --copy-secondary: 115, 115, 115;

  --border-contrast: 212, 212, 212;

  --cta: 114, 35, 204;
  --cta-hover: 95, 29, 169;
  --cta-text: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 18, 18, 18;
    --background-contrast: rgb(45, 245, 245);
    --copy: 245, 245, 245;
    --copy-secondary: 212, 212, 212;

    --border: 33, 33, 33;
    --border-contrast: rgb(245, 245, 245);
    --cta: 114, 35, 204;
    --cta-hover: 95, 29, 169;
    --cta-text: 255, 255, 255;
  }
}

.light {
  --background: 245, 245, 245;
  --background-contrast: 18, 18, 18;
  --gradient: var(--gradient-light);
  --copy: 23, 23, 23;
  --copy-secondary: 115, 115, 115;

  --border-contrast: rgb(18, 18, 18);

  --cta: 114, 35, 204;
  --cta-hover: 95, 29, 169;
  --cta-text: 255, 255, 255;
}

.dark {
  --background: 23, 23, 23;
  --background-contrast: 45, 245, 245;
  --gradient: var(--gradient-dark);
  --copy: 245, 245, 245;
  --copy-secondary: 212, 212, 212;
  --border-contrast: rgb(245, 245, 245);
  --cta: 114, 35, 204;
  --cta-hover: 95, 29, 169;
  --cta-text: 255, 255, 255;
}

body {
  color: var(--copy);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.theme-switcher {
  display: flex;
  align-items: center;
  gap: 8px;
}

.theme-switcher svg {
  width: 40px;
  height: 40px;
}

.nav-logo span {
  display: flex;
}

.nav-logo_scroll-up .nav-logo_compact {
  opacity: 1;
  transition: opacity 0.4s ease;
}
.nav-logo_scroll-down .nav-logo_compact {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.nav-logo_scroll-up .nav-logo_s {
  transform: translateX(0);
  transition: transform 0.4s ease;
  margin-left: 10px;
}

.nav-logo_scroll-down .nav-logo_s {
  transform: translateX(-44px);
  transition: transform 0.4s ease-in-out 0.3s;
  margin-left: 10px;
}
.nav-logo_scroll-up .nav-logo_g {
  transform: translateX(0);
  transition: transform 0.4s ease;
  margin-left: 10px;
}
.nav-logo_scroll-down .nav-logo_g {
  transform: translateX(-56px);
  transition: transform 0.4s ease-in-out 0.3s;
  margin-left: 10px;
}
.nav-logo_scroll-up .nav-logo_right-brace {
  transform: translateX(0);
  transition: transform 0.4s ease;
  margin-left: 8px;
}
.nav-logo_scroll-down .nav-logo_right-brace {
  transform: translateX(-110px);
  transition: transform 0.4s ease-in-out 0.3s;
  margin-left: 8px;
}

.sticky-cursor {
  width: 20px;
  height: 20px;
  background: transparent;
  position: fixed;
  border-radius: 50%;
  border-color: var(--border-contrast);
  pointer-events: none;
}
.sticky-cursor__inner {
  background-color: var(--border-contrast);
  width: 10px;
  height: 10px;
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
}
