@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 24241, 245, 249;
  --background-contrast: 18, 18, 18;
  --gradient-text: linear-gradient(
    30deg,
    rgba(53, 12, 153, 1) 0%,
    rgba(166, 6, 179, 1) 100%
  );
  --gradient-light: linear-gradient(
    180deg,
    rgba(207, 222, 243, 1) 0%,
    rgba(224, 234, 242, 1) 100%
  );
  --gradient-dark: linear-gradient(
    180deg,
    rgb(24, 40, 72) 30%,
    rgba(75, 108, 183) 100%
  );
  --copy: 44, 51, 56;
  --copy-contrast: 229, 231, 235;
  --copy-secondary: 115, 115, 115;
  --border-contrast: 229, 231, 235;
  --cta: 114, 35, 204;
  --cta-hover: 95, 29, 169;
  --cta-text: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 18, 18, 18;
    --background-contrast: 241, 245, 249;
    --copy: 4241, 245, 249;
    --copy-secondary: 229, 231, 235;
    --border: 33, 33, 33;
    --copy-contrast: 241, 245, 249;
    --border-contrast: 241, 245, 249
    --cta: 114, 35, 204;
    --cta-hover: 95, 29, 169;
    --cta-text: 255, 255, 255;
    --gradient-text: linear-gradient(
    30deg,
    rgba(251, 215, 134, 1) 0%,
    rgba(247, 121, 125, 1) 100%
    );
  }
}

.light {
  --background: 241, 245, 249;
  --background-contrast: 18, 18, 18;
  --gradient: var(--gradient-light);
  --gradient-text: linear-gradient(
    30deg,
    rgba(53, 12, 153, 1) 0%,
    rgba(166, 6, 179, 1) 100%
  );
  --copy: 44, 51, 56;
  --copy-secondary: 33, 33, 33;
  --copy-contrast: 229, 231, 235;
  --border-contrast: 18, 18, 18;
  --cta: 114, 35, 204;
  --cta-hover: 95, 29, 169;
  --cta-text: 255, 255, 255;
}

.dark {
  --background: 44, 51, 56;
  --background-contrast: 241, 245, 249;
  --gradient: var(--gradient-dark);
  --copy: 241, 245, 249;
  --copy-secondary: 229, 231, 235;
  --copy-contrast: 44, 51, 56;
  --border-contrast: 241, 245, 249;
  --cta: 114, 35, 204;
  --cta-hover: 95, 29, 169;
  --cta-text: 255, 255, 255;
  --gradient-text: linear-gradient(
    30deg,
    rgba(251, 215, 134, 1) 0%,
    rgba(247, 121, 125, 1) 100%
    );
}

body {
  color: var(--copy);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.theme-switcher {
  display: flex;
  align-items: center;
  gap: 8px;
}

.theme-switcher svg {
  width: 40px;
  height: 40px;
}

.nav-logo span,
.nav-logo div {
  display: flex;
}

.nav-logo {
  @apply text-2xl;
  transition: font-size 0.4s ease;
  position: relative;
}

.nav-logo__text {
  position: relative;
  z-index: 50;
}

.nav-logo.nav-logo_scroll-down {
  @apply text-lg;
}

.nav-logo_scroll-up .nav-logo_compact {
  opacity: 1;
  transition: opacity 0.4s ease;
}
.nav-logo_scroll-down .nav-logo_compact {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.nav-logo__bg {
  @appy bg-background;
  border-radius: 50%;
  width: 1px;
  height: 1px;
  position: absolute;
  z-index: 10;
  left: 17px;
  top: 6px;
  transition: all 0.3s ease;
  transition-delay: 0.5s;
}

.nav-logo_scroll-down .nav-logo__bg {
  @appy bg-background;
  width: 65px;
  height: 65px;
  left: -10px;
  top: -15px;
}

.nav-logo_scroll-up .nav-logo__bg {
  border-radius: 50%;
  width: 1px;
  height: 1px;
  position: absolute;
  z-index: 10;
  left: 17px;
  top: 6px;
  transition: all 0.2s ease;
}

.nav-logo_scroll-up .nav-logo_d {
  transform: translateX(0);
  transition: transform 0.2s ease;
  margin-left: 10px;
}

.nav-logo_scroll-down .nav-logo_d {
  transform: translateX(-1px);
  transition: transform 0.2s ease-in-out 0.3s;
}
.nav-logo_scroll-up .nav-logo_s {
  transform: translateX(0);
  transition: transform 0.4s ease;
  margin-left: 10px;
}

.nav-logo_scroll-down .nav-logo_s {
  transform: translateX(-38px);
  transition: transform 0.4s ease-in-out 0.3s;
  margin-left: 10px;
}
.nav-logo_scroll-up .nav-logo_g {
  transform: translateX(0);

  transition: transform 0.4s ease;
  margin-left: 10px;
}
.nav-logo_scroll-down .nav-logo_g {
  transform: translateX(-53px);
  transition: transform 0.4s ease-in-out 0.3s;
  margin-left: 10px;
}
.nav-logo_scroll-up .nav-logo_right-brace {
  transform: translateX(0);
  transition: transform 0.4s ease;
  margin-left: 8px;
}
.nav-logo_scroll-down .nav-logo_right-brace {
  transform: translateX(-101px);
  transition: transform 0.4s ease-in-out 0.3s;
  margin-left: 8px;
}

.sticky-cursor {
  width: 20px;
  height: 20px;
  background: transparent;
  position: fixed;
  border-radius: 50%;
  border-color: var(--border-contrast);
  pointer-events: none;
}
.sticky-cursor__inner {
  background-color: var(--border-contrast);
  width: 10px;
  height: 10px;
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
}
